$background_color : #000000;
$primary_color: #df8522;

$scan_line_width : 1px;

body {
	font: {
		family: 'px437_amstradpc1512regular';
		size: 16px;
	}

	color: $primary_color;
	background-color: $background_color;
	text-shadow: 0px 0px 2px $primary_color;
}

.overlay {
	/*** WEBKIT ***/
    background: -webkit-repeating-linear-gradient(
    	top,
    	transparent 0px,
    	transparent $scan_line_width,
		rgba(0,0,0,1) $scan_line_width,
    	rgba(0,0,0,1) $scan_line_width*2
    );
    -webkit-background-size: 100% $scan_line_width*2;

	/** MOZILLA **/
	background: -moz-repeating-linear-gradient(
		top,
		transparent 0px,
		transparent $scan_line_width,
		rgba(0,0,0,1) $scan_line_width,
    	rgba(0,0,0,1) $scan_line_width*2
    );
    -moz-background-size: 100% $scan_line_width*2;

	pointer-events: none;

	bottom: 0;
	content: '';
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	z-index: 10;
}

.header {
	border-bottom: 3px $primary_color solid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.header-element {
		padding: {
				right: 20px;
				left: 20px;
				top: 5px;
				bottom: 5px;
		}
	}

	.banner {
		h1 {
			font-family: 'px437_amstradpc1512regular';
		}
	}

	@media screen and (max-width: 500px) {
		.logo {
			display: none;
		}
		justify-content: center;
	}

	@media screen and (max-width: 720px) {
		.banner {
			h1 {
				font-size: 17px;
			}
		}
		
		.header-element {
			padding: {
					right: 5px;
					left: 5px;
					top: 5px;
					bottom: 5px;
			}
		}
	}
}

.widget-container {

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		.widget {
			margin: 10px;
		}

		.text-widget {
			text-align: center;

			.value {
				margin-top: 10px;
				font-size: 22px;
			}

		}

		.gage-widget {
			height: 200px;
		}
	}
}
