body {
  font-family: 'px437_amstradpc1512regular';
  font-size: 15px;
  color: #df8522;
  background-color: #000000;
  text-shadow: 0px 0px 2px #df8522; }

.overlay {
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, black 1px, black 2px);
  -webkit-background-size: 100% 2px;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(top, transparent 0px, transparent 1px, black 1px, black 2px);
  -moz-background-size: 100% 2px;
  pointer-events: none;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10; }

#header {
  border-bottom: 3px #df8522 solid;
  margin: 6px; }
  #header .img-box {
    text-align: right;
    margin: 3px; }

h1 {
  font-family: 'px437_amstradpc1512regular'; }

.grid-box {
  font-family: 'px437_amstradpc1512regular';
  font-size: 15px;
  margin: 6px; }

#widget-container {
  margin: 6px; }

.widget {
  font-family: 'px437_amstradpc1512regular';
  font-size: 15px;
  margin: 6px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px; }

.text-widget .value {
  margin-top: 6px;
  font-size: 20px; }

.gage-widget {
  height: 200px; }
