<html>
	<head>
		<title>Test</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize/normalize.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font/amstradpc1512.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script type="text/javascript" src="{{ url_for('static', filename='js/es6-shim/es6-shim.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-2.2.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/justgage/raphael-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/justgage/justgage.js') }}"></script>
	</head>
	<body>
		<div class="overlay"></div>

		<div class="header">
			<div class="banner header-element">
				<h1>S.I.L/I.Z.I.U.M.</h1>
			</div>

			<div class="logo header-element">
				<img src="{{ url_for('static', filename='c3kl_knoten.png') }}"/>
			</div>
		</div>

		<br/>

		<div class="widget-container">

		</div>

		<script type="text/javascript" src="{{ url_for('static', filename='js/silizium.js') }}"></script>
	</body>
</html>
