<html>
	<head>
		<title>Test</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pure/pure-min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/pure/grids-responsive-min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/font/amstradpc1512.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

		<script type="text/javascript" src="{{ url_for('static', filename='js/es6-shim/es6-shim.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-2.2.0.min.js') }}"></script>
	</head>
	<body>
		<div class="overlay"></div>

		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2">
				<div class="grid-box">
					<h1>S.I.L/I.Z.I.U.M.</h1>
				</div>
			</div>

			<div class="pure-u-1 pure-u-md-1-2">

			</div>
		</div>

		<div id="widget-container">
			
		</div>


		<div class="log">
			<p>No messages yet ...</p>
		</div>



	<script type="text/javascript" src="{{ url_for('static', filename='js/silizium.js') }}"></script>
	</body>
</html>
